<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = ViewBag.NavigationKey == "Home" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("Orders", "Index", "Order", new { }, new { @class = ViewBag.NavigationKey == "Order" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("Json", "Index", "Json", new { }, new { @class = ViewBag.NavigationKey == "Json" ? "currentpage" : string.Empty })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = ViewBag.NavigationKey == "AboutUs" ? "currentpage" : string.Empty })</li>
</ul>
