@{
    var messages = ViewData["ServiceMessages"] as UCDArch.Web.Services.ServiceMessage[] ?? new UCDArch.Web.Services.ServiceMessage[0];
    var hasMessages = messages.Any();
}        

@if (hasMessages)
{
    <div id="service-message" class="navbar-fixed-bottom">
        @foreach(var message in messages.OrderByDescending(a => a.Critical).ThenBy(a => a.Global)){
            var importanceIcon = message.Critical ? "fa-exclamation-circle" : "fa-info-circle";
            var messageType = message.Critical ? "critical-message" : "info-message";
            <div class="container">
                <p class="@messageType"><i class="fa @importanceIcon"></i>@message.Message</p>
            </div>
        }
    </div>
}