body {
    background-image: url('images/debut_light.png');
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

footer {
    margin-bottom: 40px;
}

/* Styles for critical messages
-----------------------------------------------------------*/
#service-message {
    font-weight: bold;
    padding-top: 10px;
    min-height: 35px;
    background: rgb(154,154,154); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(154,154,154,1) 0%, rgba(144,144,144,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,154,154,1)), color-stop(100%,rgba(144,144,144,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(154,154,154,1) 0%,rgba(144,144,144,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(154,154,154,1) 0%,rgba(144,144,144,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(154,154,154,1) 0%,rgba(144,144,144,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(154,154,154,1) 0%,rgba(144,144,144,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#909090',GradientType=0 ); /* IE6-9 */
}
#service-message i { margin-right: 5px;}

.critical-message {
    color: #CA0015;
}
.info-message {
    color: #004c85;
}

/* Styles for navbar
-----------------------------------------------------------*/
.nav i, a.icon-btn i { margin-right: 7px; }
.brand img { height: 20px; margin-right: 5px; }
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

/* Styles for jumbotron header
-----------------------------------------------------------*/
.jumbotron {
	padding: 30px 0 10px;
    /*color: #002855;*/
    margin-bottom: 1.5em;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 10%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: rgba(215,215,215,.4);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(33, 33, 33, 0.1) inset;

}
.jumbotron p
{
    margin-top: .75em;
    color: #004c85; /* Medium Blue */
    font-size: 1.25em;
    width: 75%;
    line-height: 1.75em;
}
.jumbotron h1 { color: #c99700; /* Gold */ }
.jumbotron ul.nav { margin-bottom: 0px; }

@media (max-width: 979px) {
    .jumbotron { margin-top: -20px; }
}

@media (max-width: 767px) {
    .jumbotron {
         margin-left: -20px;
         margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Styles for forms
-----------------------------------------------------------*/
form .required:after {
    content: "*";
    color: red;
    margin-left: 3px;
}
form .field-validation-error {color: #b94a48;}
form .field-validation-valid {display: none;}
form .input-validation-error {border-color: #B94A48;}
.form-text { font-weight: bold;padding-top: 5px; }

/*
    Styles for icon inside a link or button with text
------------------------------------------------------------*/
.button-icon { margin-right: 7px;}

/*
    Styles for tables
------------------------------------------------------------*/
table.one-btn-first-row tr td:first-child { width: 50px;  }
table.two-btn-first-row tr td:first-child { width: 100px;  }
table.three-btn-first-row tr td:first-child { width: 150px;  }
table.table td { vertical-align: middle; }

/*
    Menu Bars
-------------------------------------------------------------*/
.menu-bar { margin: 1em; }
.menu-bar a {
     border: 1px solid #0088cc;
     padding: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
