/* Styles for navbar
-----------------------------------------------------------*/
.nav i { margin-right: 7px; }
.brand img { height: 20px; margin-right: 5px; }

/* Styles for jumbotron header
-----------------------------------------------------------*/
.jumbotron {
	padding: 20px 0;
    color: #002855;
    margin-bottom: 2em;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 10%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.jumbotron p
{
    margin-top: 1.5em;
    color: #004c85; /* Medium Blue */
    font-size: 1.25em;
}
.jumbotron h1 { color: #c99700; /* Gold */ }
.jumbotron ul.nav { margin-bottom: 0px; }

/* Styles for forms
-----------------------------------------------------------*/
form .required {color: red;}
form .field-validation-error {color: #b94a48;}
form .field-validation-valid {display: none;}
form .input-validation-error {border-color: #B94A48;}
.form-text { font-weight: bold;padding-top: 5px; }
