@{
    ViewBag.Title = "Home Page";
    ViewBag.NavigationKey = "Home";
}

@section subhead
{
    <h1>@ViewData["Message"]</h1>

    <div>
        <p>UC Davis Core Architecture using ASP.NET MVC, NHibernate, and Castle DI.</p>
        <p>The goal of this projects is to help developers produce excellent ASP.NET MVC applications using a strong framework proven under real-world conditions at UC Davis. UCDArch has a few specific portions which might be useful to UCDavis alone (like CAS Authentication), but the majority of the project could help others build strong MVC applications.</p>
    </div>
}

<style type="text/css">
    .click-menu>a.span4 {
        color: #004c85;
        border: 1px solid #DCE9F5;
        background: rgb(249,249,249); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(220,226,232,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(220,226,232,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(220,226,232,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(220,226,232,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(220,226,232,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(220,226,232,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dce2e8',GradientType=0 ); /* IE6-9 */

        min-height: 122px;
    }
    .click-menu h4 {
        margin-top: 20px;
    }
    .click-menu i {
        /*font-size: 4em;*/
        margin: 36px 0 0 55px;
        color: #C99700;
    }
</style>

<div class="row-fluid click-menu">
    <a href="@Url.Action("Index", "Sample")" class="span4">
        <div class="row">
            <div class="span4">
                <i class="icon-tags icon-4x"></i>
            </div>
            <div class="span8">
                <h4>Sample Pages</h4>
                <p>View all sorts of different types of pages including forms, tables, DataTables and display pages.</p>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Index", "Order")" class="span4">
        <div class="row">
            <div class="span4">
                <i class="icon-road icon-4x"></i>
            </div>
            <div class="span8">
                <h4>CRUD Order Controller</h4>
                <p>Get on the road quickly, view this sample CRUD Order Controller.</p>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Index", "Json")" class="span4">
        <div class="row">
            <div class="span4">
                <i class="icon-cloud icon-4x"></i>
            </div>
            <div class="span8">
                <h4>Example JSON</h4>
                <p>Have a cloud 9 experience using JSON and web services.</p>
            </div>
        </div>
    </a>
</div>