@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewData["Message"]</h3>
<p>
    <ul>
        <li>@Html.ActionLink("List of Orders (with Edit/New)", "Index", "Order")</li>
        <li>@Html.ActionLink("Example of using Json with Orders", "Index", "Json")</li>
    </ul>
</p>