@{
    ViewBag.Title = "Page Sample Home";
}

@section SubNav {
    <ul class="navigation">
        <li>@Html.ActionLink("Full Demo", "Full")</li>
        <li>@Html.ActionLink("Form", "Form")</li>
        <li>@Html.ActionLink("Table", "Table")</li>
        <li>@Html.ActionLink("JQuery", "Jquery")</li>
    </ul>
}

