@{
    ViewBag.Title = "Table Demo";
}

@section SubNav {
    <ul class="navigation">
        <li>@Html.ActionLink("Full Demo", "Full")</li>
        <li>@Html.ActionLink("Form", "Form")</li>
        <li>@Html.ActionLink("Table", "Table")</li>
        <li>@Html.ActionLink("JQuery", "Jquery")</li>
    </ul>
}


<table>
	<thead>
		<tr>
			<th></th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Social Security</th>
			<th>Gender</th>
			<th></th>								
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td>
				<a href="#"><img src="Images/details.png" alt="Details"/ ></a>
				<a href="#"><img src="Images/edit.png" alt="Edit" /></a>
			</td>
			<td>Philip</td>
			<td>Fry</td>
			<td>123-33-4032</td>
			<td>Male</td>
			<td>
				<a href="#"><img src="Images/delete.png" alt="delete" /></a>
			</td>
		</tr>
		<tr class="even">
			<td>
				<a href="#"><img src="Images/details.png" alt="Details"/ ></a>
				<a href="#"><img src="Images/edit.png" alt="Edit" /></a>
			</td>
			<td>John</td>
			<td>Zoidberg</td>
			<td>342-23-2423</td>
			<td>Male</td>
			<td>
				<a href="#"><img src="Images/delete.png" alt="delete" /></a>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<a href="#"><img src="Images/details.png" alt="Details"/ ></a>
				<a href="#"><img src="Images/edit.png" alt="Edit" /></a>
			</td>
			<td>Hermes</td>
			<td>Conrad</td>
			<td>493-23-4323</td>
			<td>Male</td>
			<td>
				<a href="#"><img src="Images/delete.png" alt="delete" /></a>
			</td>
		</tr>
		<tr class="even"> 
			<td>
				<a href="#"><img src="Images/details.png" alt="Details"/ ></a>
				<a href="#"><img src="Images/edit.png" alt="Edit" /></a>
			</td>
			<td>Amy</td>
			<td>Wong</td>
			<td>454-45-4324</td>
			<td>Female</td>
			<td>
				<a href="#"><img src="Images/delete.png" alt="delete" /></a>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<a href="#"><img src="Images/details.png" alt="Details"/ ></a>
				<a href="#"><img src="Images/edit.png" alt="Edit" /></a>
			</td>
			<td>Turanga</td>
			<td>Leela</td>
			<td>134-31-3431</td>
			<td>Female</td>
			<td>
				<a href="#"><img src="Images/delete.png" alt="delete" /></a>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>
					
<table class="noicon">
	<thead>
		<tr>
			<td colspan="4">
								
				<h4>Filter Options</h4>
									
				<div>
					<form>
						<fieldset>
							<ul>
								<li>
								<div class="editor-label">Name</div>
								<div class="editor-field"><input /></div>
								</li>
								<li>
									<div class="editor-label">Gender:</div>
									<div class="editor-field">
										<ul class="radio_container">
											<li><input type="radio" name="gender" />Male</li>
											<li><input type="radio"/>Female</li>
										</ul>
									</div>
								</li>
							</ul>
						</fieldset>
					</form>
				</div>
								
			</td>
		</tr>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Social Security</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td>Philip</td>
			<td>Fry</td>
			<td>123-33-4032</td>
			<td>Male</td>
		</tr>
		<tr class="even">
			<td>John</td>
			<td>Zoidberg</td>
			<td>342-23-2423</td>
			<td>Male</td>
		</tr>
		<tr class="odd">
			<td>Hermes</td>
			<td>Conrad</td>
			<td>493-23-4323</td>
			<td>Male</td>
		</tr>
		<tr class="even"> 
			<td>Amy</td>
			<td>Wong</td>
			<td>454-45-4324</td>
			<td>Female</td>
		</tr>
		<tr class="odd">
			<td>Turanga</td>
			<td>Leela</td>
			<td>134-31-3431</td>
			<td>Female</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>
					