@{
    ViewBag.Title = "Json Index";
}

@section AdditionalScripts
{
<script type="text/javascript">

    $(document).ready(function () {

        $("#getOrder").click(function () {
            $.get('@Url.Action("Get", "Json")',
                displayResult, 'html');
        });

        $("#getOrders").click(function () {
            $.get('@Url.Action("List", "Json")',
                displayResult, 'html');
        });
    });

    function displayResult(result) {
        $("#RawResults").hide().html(result.toString()).fadeIn('slow');
    }

</script>
}
<h2>
    Index</h2>
<h4>
    You can change which properties are serialized by going to Order.cs and adding the
    JsonProperty attribute to the desired properties</h4>
<p>
    <a href="javascript:;" id="getOrder">Click Here to Retrieve An Order Via Json</a>
</p>
<p>
    <a href="javascript:;" id="getOrders">Click Here to Retrieve 100 Orders Via Json</a>
</p>
<p>
    <label>
        Raw Results:
    </label>
    <span id="RawResults"></span>
</p>