<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Spring.ProxyFactoryFactory, NHibernate.ByteCode.Spring</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<!--<property name="connection.provider">SampleUCDArchApp.Helpers.ProfilerConnectionProvider, SampleUCDArchApp</property>-->
			<!--<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
			<property name="connection.driver_class">SampleUCDArchApp.Helpers.SqlClientDriver, SampleUCDArchApp</property>
			<property name="connection.connection_string_name">MainDB</property>
			<property name="default_schema">Northwind.dbo</property>
			<property name="generate_statistics">true</property>
			<property name="adonet.batch_size">25</property>
			<!-- HBM Mapping Files -->
			<mapping assembly="SampleUCDArchApp.Core" />
		</session-factory>
	</hibernate-configuration>
	<appSettings>
	  <add key="ClientValidationEnabled" value="true" />
	  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="RoleServiceUrl" value="https://[url]/Public/Role.svc" />
	  <add key="RoleToken" value="[token]" />
    <add key="MessageService" value="https://test.caes.ucdavis.edu/Catbert4/public/message.svc"/>
	</appSettings>
	<connectionStrings>
		<add name="MainDB" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<elmah>
		<!--<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RATBERT" applicationName="SampleUCDArchApp"/>-->
		<!--<errorMail from="fromEmail" to="toEmail" subject="ELMAH: SampleUCDArchApp web error response" smtpServer="YOUR_SMTP"/>-->
	</elmah>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			  <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			  <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
        <roleManager enabled="true" defaultProvider="CatbertServiceRoleProvider" cacheRolesInCookie="false">
            <providers>
                <add name="CatbertServiceRoleProvider" type="UCDArch.Web.Providers.CatbertServiceRoleProvider" applicationName="SampleUCDArchApp" serviceUrlKey="RoleServiceUrl" authTokenKey="RoleToken" />
            </providers>
        </roleManager>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="Microsoft.Web.Mvc" />
				<add namespace="MvcContrib.FluentHtml" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
			  <add namespace="System.Web.Helpers" />
			  <add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpHandlers>
			<!--<add verb="POST,GET,HEAD" path="Administration/Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>-->
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpHandlers>
		<httpModules>
			<!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>-->
		</httpModules>
	</system.web>
	<system.web.extensions />
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="MvcHttpHandler" />
			<remove name="UrlRoutingHandler" />
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
	</system.webServer>
	<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
    <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
