@{
    ViewBag.Title = "About Us";
    ViewBag.NavigationKey = "AboutUs";
}

<h2>About</h2>
<p>
    Sample Application built on the <a href="https://github.com/ucdavis/UCDArch">UCDArch framework</a>.  Uses ASP.NET MVC, NHibernate, Castle IoC/DI, and much more.
</p>