@{
    ViewBag.Title = "Jquery UI Demo";
}

@section AdditionalScripts
{
	<style type="text/css">
		#body article { border: 1px solid #014A81; margin: 1em 0; padding: 1em; }
		#body article header {margin: 1em 0; font-weight: bold;}
		ul.btns {list-style: none;}
		ul.btns li {margin: 1em 0;}
	</style>

	<script type="text/javascript">
	    $(function () {
	        $("#tabs").tabs();
	        $(".btn").button();
	        $("#datepicker").datepicker();
	    });
	</script>
}
	
@section SubNav {
    <ul class="navigation">
        <li>@Html.ActionLink("Full Demo", "Full")</li>
        <li>@Html.ActionLink("Form", "Form")</li>
        <li>@Html.ActionLink("Table", "Table")</li>
        <li>@Html.ActionLink("JQuery", "Jquery")</li>
    </ul>
}

    		
<article>
	<header>Tabs</header>
						
	<div id="tabs">
		<ul>
			<li><a href="#tab1">Tab 1</a></li>
			<li><a href="#tab2">Tab 2</a></li>
			<li><a href="#tab3">Tab 3</a></li>
		</ul>
							
		<div id="tab1">This is the content of tab 1</div>
		<div id="tab2">This is the content of tab 2</div>
		<div id="tab3">This is the content of tab 3</div>
	</div>
						
</article>
					
<article>
	<header>Buttons</header>
						
	<ul class="btns">
		<li><button class="btn">Button Element</button></li>
		<li><input type="submit" class="btn" value="Submit Button"/></li>
		<li><a href="#" class="btn">Anchor Element</a></li>
	</ul>
						
</article>
					
<article>
	<header>Date Picker</header>
						
	<input type="text" id="datepicker" />
						
</article>		