.paging_two_button .ui-button
{
    cursor: pointer;
    float: left;
}
.paging_full_numbers .ui-button
{
    cursor: pointer;
    margin: 0;
    padding: 2px 6px;
}
.dataTables_paginate .ui-button
{
    margin-right: -0.1em !important;
}
.paging_full_numbers
{
    width: 350px !important;
}
.dataTables_wrapper .ui-toolbar
{
    padding: 5px;
}
.dataTables_paginate
{
    width: auto;
}
.dataTables_info
{
    padding-top: 3px;
}
table.display thead th
{
    cursor: pointer;
    padding: 3px 0 3px 10px;
}
div.dataTables_wrapper .ui-widget-header
{
    font-weight: normal;
}
table.display thead th div.DataTables_sort_wrapper
{
    padding-right: 20px;
    position: relative;
}
table.display thead th div.DataTables_sort_wrapper span
{
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
}
.dataTables_wrapper
{
    clear: both;
    min-height: 302px;
    position: relative;
}
.dataTables_length
{
    float: left;
    width: 40%;
}
.dataTables_filter
{
    float: right;
    text-align: right;
    width: 50%;
}
.dataTables_info
{
    float: left;
    width: 50%;
}
.dataTables_paginate
{
    float: right;
    text-align: right;
}
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next
{
    float: left;
    height: 19px;
    margin-left: 3px;
    width: 19px;
}
.dataTables_scroll
{
    clear: both;
}
.top .dataTables_info
{
    float: none;
}
.clear
{
    clear: both;
}
.dataTables_empty
{
    text-align: center;
}
        
.dataTables_info
{
    padding-top: 0;
}
.dataTables_paginate
{
    padding-top: 0;
}
.css_right
{
    float: right;
}
#example_wrapper .fg-toolbar
{
    font-size: 0.8em;
}
#theme_links span
{
    float: left;
    padding: 2px 10px;
}