/* ---------------- */
/*    reset         */
/* ---------------- */
* {padding:0; margin:0;}
a img {border:none;}

/* ---------------- */
/*    site width    */
/* ---------------- */
#branding span.header, #personalbar, .main , #footertext, #system_wide_status_text{width: 1020px;}

/* ---------------- */
/*system wide status*/
/* ---------------- */
#system_wide_status_text {margin:0.5em auto; text-align:center;}
#system_wide_status {border:3px solid #C83900; background-color:#fcf0f0;}

/* ---------------- */
/*    branding      */
/* ---------------- */

/*#branding .frontpage {background: url(w:/Webdevel/GRAMPS/Images/branding.jpg) repeat-x top center; height: 50px; margin: 0 auto; z-index:2; position:relative;}*/
#branding {background: url(../Images/top_blue_bar.jpg) repeat-x #014a81; margin: 0 auto; z-index:2; position:relative;}
#branding span.header {padding: 2em 0 0.2em 0; margin: 0px auto; display: block;}
#branding h1 {text-align:left; font-size:3em; line-height:1em; padding-bottom:.2em;}
#branding {color:#FFF; }
.navigation {text-align:right;} 
.navigation li {display:inline-block; list-style-type:none; padding:0 0 0 1em;}
#branding a:hover {color:#E4B939;}
#branding a {color:#FFF; text-decoration:none; font-weight:bold;}

/* ----------------------- */
/*    personal bar         */
/* ----------------------- */
#personalbar {margin:5px auto;}
#personalbar a {color:#000;}
#LogOffOn {text-align:right;}
#personalbar #LogOffOn a {background-color:#014a81;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding:15px 15px 10px 15px; color:#FFFFFF; text-decoration:none; margin-right:-15px; font-weight:bold; font-size:0.9em; letter-spacing:.5px; text-transform:uppercase;}
#personalbar a:hover, #personalbar #LogOffOn a:hover {color:#E4B939;}
#personalbar a {text-decoration:none; color:#0068B7;}
#welcome_user {display:block; font-weight: bold; font-size: .8em; letter-spacing: .25px; text-transform: uppercase;}

/* ---------------- */
/*    main          */
/* ---------------- */
.main {margin:0 auto;}
.col1 , .col2 {display:inline-block; width:500px;}
.col1 { margin-right:10px;}
ul.copy, ol.copy{margin:0.5em 0 0.5em 5em;}
.copy li {margin:3px 0;}

/* -------------------- */
/*    messages          */
/* -------------------- */
#status_message, #error_message {margin: 10px auto; max-width:600px; text-align:center; padding:10px;}
#error_message, .field-validation-error  {border:2px solid #C83900; background-color:#fcf0f0;}
#status_message {border:2px solid #E4C466; background-color:#fbf7eb;}

/* ---------------------- */
/*    main links          */
/* ---------------------- */
.main  a {text-decoration:none; color:#0068b7;}
.main  a:hover {text-decoration:none; color:#826200;}
.main ul.navigation a:hover {border-bottom: 2px solid #826200;}
.main  .text_btn a  {background-color:#014a81;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding:10px; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:0.9em; letter-spacing:.5px; text-transform:uppercase; color:#FFF;}
.main  .text_btn a:hover {background-color:#3182C0; color:#FFFFFF;}
.text_btn {text-align:center; margin: 1em 0;}
.main p a {font-weight:bold;}
.main p a:hover {text-decoration:underline;}

/* ---------------- */
/*    font          */
/* ---------------- */
.main h2 {text-align:left; font-size:2.5em; line-height:1em; padding-bottom:.2em; margin-top: 1.2em;}
body {font: 11.5px/16px Verdana, Arial, sans-serif;}

/* ---------------- */
/*    form          */
/* ---------------- */
form {margin:1em 0; text-align:left;}
form ul li {list-style-type:none;margin:10px 0;}
form ul li ul li{margin:2px 0;}
form .col1 {text-align:right; width:200px;}
form fieldset {padding:10px;}
form fieldset  ul{padding:10px 50px 10px 100px;}
form fieldset  ul ul{padding:0;}
form fieldset div.editor-label {display:inline-block; width:120px; vertical-align:top;}
form fieldset div.editor-field {display:inline-block; vertical-align:top;}
form .radio_container, form .checkbox_container {display:inline-block;}
form .radio, form .checkbox {margin-bottom:5px;}
form .text_field, form .text_area  {min-width:200px;}
.required {font-weight:bold;}
.required span, span.required {color:#FF0000;}
input.button {font-size: 1.2em; padding: 8px 15px 3px;}

/*   validation     */
.field-validation-error {padding:2px 10px; margin:-2px 0 0 5px; display:inline-block; vertical-align:top;}
table thead form .field-validation-error{color:#000000;}
/* ---------------- */
/*    table         */
/* ---------------- */
table {border:1px solid #003054; border-collapse: collapse; margin:0.5em 0; width:100%;}
th{text-align:left;}
thead tr, tfoot tr  {background-color:#014A81; color:#FFFFFF;}
.main thead a, .main tfoot a {color:#FFFFFF; font-weight:bold;}
.main thead a:hover, .main tfoot a:hover {color:#E4C466;}
td, th { padding:0.5em;}
td {vertical-align:top; line-height:1.5em;}
.table_select {}
.table_edit{}
.even {background-color:#F0F0F0;}
.odd {}
.even:hover, .odd:hover {background-color:#d0e3f1;}
tr  > td:first-child, tr > td:last-child {width:40px; text-align:center;}
tfoot tr  > td:first-child {text-align:left;}
tfoot tr > td:last-child {text-align:right;}
tfoot {text-align:center;}


/* ---------------- */
/*    footer        */
/* ---------------- */
#footer {background-color:#014a81; padding:1em 0; margin-top:5em;}
#footertext {margin:0 auto; color:#FFFFFF; font-size:0.9em;}
#footertext a {color:#FFFFFF; text-decoration:none;}
#footertext a:hover {color:#E4B939;}
#footertext ul li {list-style-type:none; display:inline-block; text-align:left;}
#footertext .col2 ul li {list-style-type:none; display:block; text-align:left;}
#footer .col1 .navigation li a{border-bottom:2px solid #074F84; width:200px; padding-left:10px; display:block;}
#footer .col1 .navigation li a:hover {background-color:#074F84;}
#footer .col2 {vertical-align:top; font-style:italic;}
#footer .col1 {border-right:2px solid #074F84;}
#footer .navigation {text-align:left;}

/* ---------------------------- */
/* DataTables Specific Styling  */
/* ---------------------------- */
.dataTables_length {width: 40%;	float: left;}
.dataTables_filter {width: 50%;	float: right; text-align: right;}
.dataTables_info {width: 60%;	float: left;}
.dataTables_paginate {width: auto; float: right; text-align: right;}
.dataTables_paginate .ui-button { margin-right: .1em !important; padding: 0 .25em;}
div.dataTables_wrapper .ui-toolbar{padding: 5px;}
div.dataTables_wrapper table{margin: 0;clear:both;}
.DataTables_sort_wrapper{cursor:pointer;}
.css_right { float:right;}
.clear { clear: both; }
