@model SampleUCDArchApp.Controllers.OrderViewModel

@{
    ViewBag.Title = "Create";
}



@section subhead
{
    <h1>Create</h1>
}

@section SubNav
{
	<li>@Html.ActionLink("Back to List", "Index")</li>
}

@await Html.PartialAsync("_OrderForm")