@model SampleUCDArchApp.Controllers.OrderViewModel

@{
    ViewBag.Title = "Edit";
}

@section subhead
{
    <h1>Edit</h1>    
}

@section SubNav
{
	<li>@Html.ActionLink("Back to List", "Index")</li>
}

@Html.Partial("_OrderForm")