@model IEnumerable<SampleUCDArchApp.Core.Domain.Order>

@using SampleUCDArchApp.Controllers
@using SampleUCDArchApp.Helpers

@{
    ViewBag.Title = "Order Index";
    ViewBag.NavigationKey = "Order";
}

<h2>Index</h2>

@(
    Html.Grid(Model).Transactional().Name("Orders")
        .Columns(
        col => {
            col.Template(order => @Html.ActionLink<OrderController>(x=>x.Edit(order.Id), "Edit"));
            col.Bound(order => order.OrderedBy.CompanyName);
            col.Bound(order => order.ShipAddress);
            col.Bound(order => order.OrderDate).Format("{0:d}");
        }).Pageable(x=>x.PageSize(20)).Sortable()
)       
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
